.teammacros-card {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.teammacros-card .table-wrap {
    border-radius: 4px;
    border: #DDD 1px solid;
    box-shadow: #DDD 3px 3px;
}

.teammacros-card table.confluenceTable .confluenceTd {
    border: 0;
}

.teammacros-clear {
    clear: both;
}

.teammacros-card table.confluenceTable .confluenceTd.teammacros-avatar {
    border-right: 1px #DDD solid;
}

.teammacros-card table.confluenceTable {
    margin: 0;
}

.teammacros-card hr {
    border-style: solid;
    border: 0;
    border-bottom: #DDD 1px solid;
}

.teammacros-display-name {
    font-size: larger;
    font-weight: bold;
}

.teammacros-role {
    font-weight: bold;
    font-style: italic;
    padding-left: 16px;
    color: #666;
}

.teammacros-phone {
    padding-left: 24px;
    background-image: url("images/phone.png");
    background-repeat: no-repeat;
}

.teammacros-email {
    padding-left: 24px;
    background-image: url("images/email.png");
    background-repeat: no-repeat;
}

.teammacros-im-skype {
    padding-left: 24px;
    background-image: url("images/skype.png");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.teammacros-im-jabber {
    padding-left: 24px;
    background-image: url("images/jabber.png");
    background-repeat: no-repeat;
}

.teammacros-im-gtalk {
    padding-left: 24px;
    background-image: url("images/gtalk.png");
    background-repeat: no-repeat;
}

.teammacros-im-aim {
    padding-left: 24px;
    background-image: url("images/aim.png");
    background-repeat: no-repeat;
}

.teammacros-im-msn {
    padding-left: 24px;
    background-image: url("images/msn.png");
    background-repeat: no-repeat;
}

.teammacros-im-yahoo {
    padding-left: 24px;
    background-image: url("images/yahoo.png");
    background-repeat: no-repeat;
}

.teammacros-im-icq {
    padding-left: 24px;
    background-image: url("images/icq.png");
    background-repeat: no-repeat;
}

.teammacros-im-sametime {
    padding-left: 24px;
    background-image: url("images/sametime.png");
    background-repeat: no-repeat;
}

.teammacros-im-wildfire {
    padding-left: 24px;
    background-image: url("images/wildfire.png");
    background-repeat: no-repeat;
}
